<template>
  <b-container>
    <h1>Data retention &amp; GDPR</h1>
    <b-row>
      <b-col>
        <h2>Web UI</h2>
        <p>
          This web user interface runs fully in your browser, once it is loaded
          from the SCRAP server. No cookies or other local data is stored in
          your browser storage. The SCRAP web server only stores your IP
          address with a corresponding timestamp into the web servers log file,
          when you load the web UI. The web server logs are stored for 14 days.
        </p>
        <p>
          All other requests by the web UI to retrieve data regarding scans,
          scanners and explanations are described in the API server section.
        </p>
      </b-col>
      <b-col>
        <h2>API Server</h2>
        <p>
          Every request to the API is logged by the webserver in a standard
          fashion, containing the IP address of the request and a corresponding
          timestamp.
        </p>
        <p>
          The web server logs are stored for 14 days.
        </p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <h2>General information</h2>
        <p>
          We do not use any of the collected data other than for technical
          reasons to provide this services. All data is deleted automatically
          after the stated period in the sections before.
        </p>
        <p>
          The GDPR describes the following rights regarding your PII:
        </p>
        <ul>
          <li>
            <b>The right to access</b> – You have the right to request Our
            Company for copies of your personal data. We may charge you a small
            fee for this service.
          </li>
          <li>
            <b>The right to rectification</b> – You have the right to request
            that Our Company correct any information you believe is inaccurate.
            You also have the right to request Our Company to complete the
            information you believe is incomplete.
          </li>
          <li>
            <b>The right to erasure</b> – You have the right to request that Our
            Company erase your personal data, under certain conditions.
          </li>
          <li>
            <b>The right to restrict processing</b> – You have the right to
            request that Our Company restrict the processing of your personal
            data, under certain conditions.
          </li>
          <li>
            <b>The right to object to processing</b> – You have the right to
            object to Our Company’s processing of your personal data, under
            certain conditions.
          </li>
          <li>
            <b>The right to data portability</b> – You have the right to request
            that Our Company transfer the data that we have collected to another
            organization, or directly to you, under certain conditions.
          </li>
        </ul>
        <p>
          In any case you can contact us through the contact listed in the
          footer.
        </p>
        <p>
          More details on the GDPR can be found on the EU's official
          <a href="https://ec.europa.eu/info/priorities/justice-and-fundamental-rights/data-protection/2018-reform-eu-data-protection-rules/eu-data-protection-rules_en">
            EU data protection rules</a> page and on <a href="https://gdpr.eu">gdpr.eu</a>.
        </p>
      </b-col>
    </b-row>
  </b-container>
</template>

<style scoped>
p, li {
  text-align: left;
}
</style>
