<template>
  <b-container>
    <h1>Welcome to the SCRAP web UI</h1>
    <b-row>
      <b-col>
        <p align="left">
          This is an early proof of concept prototype. Some of the features are not
          yet implemented. Others are only implemented in a rudimentary way.
          Also the server currently only provides one specific explanation and
          one specific detection rule (in addition to those already on board of
          <a href="https://github.com/jvoisin/php-malware-finder">PHP Malware Finder</a>
          and the <a href="https://github.com/FloeDesignTechnologies/phpcs-security-audit.git">phpcs-security-audit</a>).
        </p>
      </b-col>
      <b-col>
        <p align="left">
          For more details on the project visit the <a href="https://scrap.tantemalkah.at">project site</a>.
          You'll find links to the different repos there. If you want to provide some
          additional rules or explanations, I am happy to look into any merge request,
          or to answer mails.
        </p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

export default {
  name: 'Home',
}
</script>
