<template>
  <div>
    <ListOfScans/>
  </div>
</template>

<script>
// @ is an alias to /src
import ListOfScans from '@/components/ListOfScans.vue'

export default {
  name: 'ListScans',
  components: {
    ListOfScans
  }
}
</script>
