<template>
  <b-container>
    <b-row v-if="scan !== 'loading'">
      <b-col align="left">
        <div v-if="scan.status.stage === 'done'">
          <div v-if="scan.issuesFound > 0">
            <p align="center">
              <b-icon icon="exclamation-circle" font-scale="6" variant="danger"/>
            </p>
          </div>
          <div v-else>
            <p align="center">
              <b-icon icon="check-circle" font-scale="6" variant="success"/>
            </p>
          </div>
          <p>
            <b>Scan details:</b>
          </p>
          <b-table-simple>
            <b-tbody>
              <b-tr>
                <b-td>UUID</b-td>
                <b-td>{{ $route.params.uuid }}</b-td>
              </b-tr>
              <b-tr>
                <b-td>Files scanned</b-td>
                <b-td>{{ scan.files }}</b-td>
              </b-tr>
              <b-tr>
                <b-td>Issues found</b-td>
                <b-td>{{ scan.issuesFound }}</b-td>
              </b-tr>
              <b-tr>
                <b-td>Created</b-td>
                <b-td>{{ scan.created }}</b-td>
              </b-tr>
              <b-tr>
                <b-td>Analysed</b-td>
                <b-td>{{ scan.analysed }}</b-td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
          <div v-if="scan.issuesFound > 0">
            <p>
              <b>Scan results:</b>
            </p>
            <b-table hover outlined :items="$store.state.issues"
              :fields="tableFields" id="list-of-issues-table"
              selectable select-mode="single" @row-selected="onIssueSelected"
            />
          </div>
        </div>
        <div v-else>
          <p align="center">
            <b-icon icon="clock" font-scale="6" variant="info"/><br>
            Scan still in progress. Come back later.
          </p>
        </div>
      </b-col>


      <b-col align="left">
        <p><b>Issue:</b></p>
        <p v-if="selectedIssue === false">
          No issue selected. Select one in the scan results table.
        </p>
        <div v-else-if="$store.state.issue.loading === false">
          <p>
            This <code>{{ $store.state.issue.type }}</code> issue was found by
            <code>{{ $store.state.issue.source.scanner }}</code>.
            <!-- TODO: make nice modal with more info when user clicks on scanner name -->
          </p>
          <div v-for="file in $store.state.issue.affectedFiles" :key="file.path">
            <b>In file:</b> <code>{{ file.path }}</code>
            <b-form-textarea readonly size="sm" rows="8"
              :value="fileContent(file.path)"
            />
          </div>
        </div>
        <div v-else>
          Issue is loading.
        </div>
        <hr/>
        <p><b>Explanation:</b></p>
        <p v-if="explanation.notFound || selectedIssue === false">
          There is no explanation available for this issue yet.
        </p>
        <b-card v-else no-body>
          <b-tabs card>
            <b-tab title="Description" active>
              <b-card-text>
                <vue-simple-markdown :source="explanationDescription"/>
              </b-card-text>
            </b-tab>
            <b-tab title="How to fix">
              <b-card-text>
                <vue-simple-markdown :source="explanationFix"/>
              </b-card-text>
            </b-tab>
            <b-tab title="References">
              <b-card-text>
                <div v-if="explanation.references" class="references">
                  Further references that might help you to dig into this topic:
                  <ul>
                    <li v-for="ref in explanation.references" :key="ref">
                      <a :href="ref">{{ ref }}</a>
                    </li>
                  </ul>
                </div>
                <div v-else>
                  No further references found on this topic.
                </div>
              </b-card-text>
            </b-tab>
          </b-tabs>
        </b-card>
      </b-col>

    </b-row>
    <b-row v-else>
      <b-col>
        Scan is loading!
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Scan',
  computed: {
    scan () {
      if (this.$store.state.scans[this.$route.params.uuid] === undefined) {
        return 'loading'
      } else {
        return this.$store.state.scans[this.$route.params.uuid]
      }
    },
    explanation () {
      return this.$store.state.explanation
    },
    issue () {
      return this.$store.state.issue
    },
    explanationDescription () {
      if (this.explanation.longDescription) {
        return this.explanation.longDescription
      } else if (this.explanation.shortDescription) {
        return this.explanation.shortDescription
      } else {
        return 'No explanation text available.'
      }
    },
    explanationFix () {
      if (this.explanation.howToFix) {
        return this.explanation.howToFix
      } else {
        return 'No information available on how to fix this.'
      }
    },
  },
  data () {
    return {
      tableFields: [
        { key: 'id', label: '#', sortable: true },
        { key: 'type', label: 'Type', sortable: true },
      ],
      selectedIssue: false,
    }
  },
  methods: {
    onIssueSelected(items) {
      if (items.length === 0) {
        this.selectedIssue = false
      } else {
        this.selectedIssue = items[0].id
        this.$store.dispatch({
          type: 'getIssue',
          scan_uuid: this.$route.params.uuid,
          id: this.selectedIssue
        })
      }
    },
    fileContent (path) {
      if (this.issue.loading) {
        return ''
      } else {
        let content = ''
        let file = this.issue.affectedFiles.find(f => f.path === path)
        for (let line of file.lines) {
          let offset = ''
          if (line.num) { offset += line.num }
          if (line.characters && line.characters.from) {
            offset += 'c' + line.characters.from
          }
          if (line.text.length > 0) {
            content += offset + ': ' + line.text
          } else {
            content += offset + ': # no matching text provided by scanner'
          }
          if (line.description.length > 0) {
            content += '\n# ' + line.description
          }
          content += '\n\n'
        }
        return content
      }
    }
  },
  created () {
    this.$store.dispatch({
      type: 'getIssues',
      scan_uuid: this.$route.params.uuid
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.markdown-body {
  font-size: 90%;
}
.references {
  font-size: 90%;
}
</style>
<style>
  .markdown-body pre {
    font-size: 70% !important;
  }
</style>
