<template>
  <b-container>
    <h1>Submit a new scan</h1>
    <b-row>
      <b-col>
        <b-form-file
          v-model="file"
          :state="Boolean(file)"
          placeholder="Choose a file or drop it here..."
          drop-placeholder="Drop file here..."
          accept=".php, .tgz"
        />
      </b-col>
    </b-row>
    <br>
    <b-row>
      <b-col cols="2">
        Scanner to use:
      </b-col>
      <b-col cols="4">
        <b-form-select v-model="selectedScanner" :options="optionsScanner" />
      </b-col>
      <b-col align="right">
        <b-button @click="submitScan">Upload and start scan</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Submit',
  computed: {
    optionsScanner () {
      let items = [{value: '', text: 'Use all available scanners'}]
      for (let scanner of this.$store.state.scanners.available) {
        items.push({
          value: scanner.slug,
          text: scanner.name + ' ' + scanner.version,
        })
      }
      return items
    }
  },
  data () {
    return {
      file: null,
      selectedScanner: '',
    }
  },
  methods: {
    submitScan () {
      this.$log.debug('submitting')
      let form = new FormData()
      form.append('file', this.file, this.file.name)
      if (this.selectedScanner) {
        form.append('scanner', this.selectedScanner)
      }
      this.$store.dispatch('submitScan', {formData: form})
    }
  },
  created () {
    this.$store.dispatch('scanners/fetch')
  }
}
</script>

<style scoped>
h1 {
  margin-bottom: 2rem;
}

.uploadButton {
  font-size: 1.5rem;
  margin-top: 1rem;
}
</style>
