<template>
  <div>
    <b-button v-b-modal.credentialsModal size="sm">
      Set API Credentials
    </b-button>
    Current user: <b>{{ user }}</b>
    <b-modal id="credentialsModal" size="lg" title="SCRAP API credentials"
      @show="initModal" @ok="setCredentials"
    >
      <p>
        Set the username and API key you want to use to access the
        SCRAP server:
      </p>
      <b-container>
        <b-row>
          <b-col cols="2">
            Username:
          </b-col>
          <b-col>
            <b-form-input type="text" v-model="username"/>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2">
            API key:
          </b-col>
          <b-col>
            <b-form-input type="text" v-model="apikey"/>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'Credentials',
  computed: {
    user () {
      return this.$store.state.auth.username
    }
  },
  data () { return {
      username: '',
      apikey: '',
    }
  },
  methods: {
    initModal () {
      this.username = this.$store.state.auth.username
      this.apikey = this.$store.state.auth.apikey
    },
    setCredentials () {
      this.$store.commit('clearState')
      this.$store.commit({
        type: 'setCredentials',
        username: this.username,
        apikey: this.apikey
      })
    }
  },
}
</script>
