<template>
  <b-container>
    <h1>
      List of Scans
      <b-link href="#" alt="reload" @click="reloadScans" >
        <b-icon
          icon="arrow-repeat" variant="info"
          class="border border-info rounded p-2"
        />
      </b-link>
    </h1>
    <p v-if="scans.length === 0">
      Currently there are no scans associated with your user credentials.<br>
    </p>
    <p v-else>
      The following scans are associated with your user credentials:
    </p>
    <b-table striped hover outlined :items="tableData" :fields="tableFields">
      <template v-slot:cell(uuid)="data">
        <router-link :to="{ name: 'Scan', params: { uuid: data.value}}">{{ data.value }}</router-link>
      </template>
      <template v-slot:cell(actions)="data">
        <b-button-group size="sm">
          <b-button variant="danger" @click="deleteScan(data.item.uuid)">
            Delete
          </b-button>
        </b-button-group>
      </template>
    </b-table>
  </b-container>
</template>

<script>
export default {
  name: 'ListOfScans',
  computed: {
    scans () {
      return this.$store.state.scans
    },
    scanUuids () {
      return this.$store.state.scanUuids
    },
    username () {
      return this.$store.state.auth.username
    },
    apikey () {
      return this.$store.state.auth.apikey
    },
    tableData () {
      let rows = []
      let i = 1
      for (let id in this.scans) {
        rows.push({
          num: i,
          uuid: this.scans[id].id,
          status: this.scans[id].status.stage,
          files: this.scans[id].files,
          issuesFound: this.scans[id].issuesFound,
          created: this.scans[id].created,
        })
        i++
      }
      return rows
    },
  },
  data () {
    return {
      // this is used to configure the table columns
      tableFields: [
        { key: 'num', label: '#', sortable: true },
        { key: 'uuid', label: 'UUID' },
        { key: 'created', label: 'Created', sortable: true },
        { key: 'status', label: 'Status', sortable: true },
        { key: 'files', label: 'Files', sortable: true },
        { key: 'issuesFound', label: 'Issues found', sortable: true },
        { key: 'actions', label: 'Actions', class: 'text-right' },
      ]
    }
  },
  methods: {
    reloadScans() {
      this.$store.commit('clearState')
      this.$store.dispatch('getScans')
    },
    deleteScan(uuid) {
      this.$store.dispatch({
        type: 'deleteScan',
        uuid: uuid
      })
    }
  },
  created () {
    this.$store.dispatch('getScans')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
