<template>
  <div id="app">
    <b-container>
      <header>
        <nav>
          <b-row>
            <b-col align="left">
              <router-link to="/">SCRAP</router-link> |
              <router-link to="/scans">List scans</router-link> |
              <router-link to="/submit">Submit new scan</router-link>
            </b-col>
            <b-col align="right">
              <credentials/>
            </b-col>
          </b-row>
        </nav>
      </header>
      <hr>
    </b-container>
    <router-view/>
    <b-container>
      <footer>
        <hr>
        <b-row>
          <b-col align="left">
            <h4>Contact:</h4>
            <p>
              In case you want to know more about the project, check out the links
              or just contact me on one of the channels listed below. Also if you
              want to test SCRAP more and get a non-public API key, contact me:
            </p>
            <ul>
              <li>IRL: jackie / Andrea Ida Malkah Klaura</li>
              <li>IRC: n/a</li>
              <li>Web: <a href="https://tantemalkah.at">https://tantemalkah.at</a></li>
              <li>Mail: <a href="mailto:jackie@tantemalkah.at">jackie@tantemalkah.at</a></li>
              <li>Mastodon: <a href="https://chaos.social/@jackie">jackie@chaos.social</a></li>
              <li><a href="https://tantemalkah.at/contact.html">... more contacts</a></li>
            </ul>
          </b-col>
          <b-col align="left">
            <h4>Links:</h4>
            <ul>
              <li><a href="https://scrap.tantemalkah.at">SCRAP project page</a></li>
              <li><a href="https://app.swaggerhub.com/apis/tantemalkah/SCRAP/1.0.0">SCRAP API @ Swagger Hub</a></li>
              <li><a href="https://gitlab.com/jackieklaura/scrap-api-server/">SCRAP API Server @ GitLab</a></li>
              <li><a href="https://gitlab.com/jackieklaura/scrap-client">SCRAP Web UI @ GitLab</a></li>
              <li><a href="https://gitlab.com/jackieklaura/scrap-scanner-eval">SCRAP scanner evaluation @ GitLab</a></li>
              <li>The <a href="#">SCRAP thesis</a> (coming soon)</li>
              <li>The university where the thesis was written: <a href="https://www.technikum-wien.at/" style="white-space:nowrap">FH Technikum Wien</a></li>
            </ul>
          </b-col>
          <b-col align="left">
            <h4>Data retention &amp; GDPR:</h4>
            If you want to know more about which of your PII (personally identifiable
            information) ist stored and for how long, when you visit this site or
            use the SCRAP client or the SCRAP server directly through the API,
            take a look at the <router-link to="/gdpr">GDPR page</router-link>.
          </b-col>
        </b-row>
      </footer>
    </b-container>
  </div>
</template>

<script>
import Credentials from './components/Credentials.vue'

export default {
  name: 'App',
  components: {
    'credentials': Credentials
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 10px 0px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

footer {
  font-size: 0.7rem
}
footer h4 {
  font-size: 1rem
}
</style>
